/* navbar css */

.navbar-brand {
  font-family: viga;
  margin-left: 50px;
}

.Unduh {
  margin-right: 30px;
  border-radius: 10px;
}

.nav-link {
  margin-left: 70px;
}

/* style foto slide awal */

/* jssor slider loading skin spin css */
.jssorl-009-spin img {
  animation-name: jssorl-009-spin;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*jssor slider bullet skin 132 css*/
.jssorb132 {
  position: absolute;
}
.jssorb132 .i {
  position: absolute;
  cursor: pointer;
}
.jssorb132 .i .b {
  fill: #fff;
  fill-opacity: 0.8;
  stroke: #000;
  stroke-width: 1600;
  stroke-miterlimit: 10;
  stroke-opacity: 0.7;
}
.jssorb132 .i:hover .b {
  fill: #000;
  fill-opacity: 0.7;
  stroke: #fff;
  stroke-width: 2000;
  stroke-opacity: 0.8;
}
.jssorb132 .iav .b {
  fill: #000;
  stroke: #fff;
  stroke-width: 2400;
  fill-opacity: 0.8;
  stroke-opacity: 1;
}
.jssorb132 .i.idn {
  opacity: 0.3;
}

.jssora051 {
  display: block;
  position: absolute;
  cursor: pointer;
}
.jssora051 .a {
  fill: none;
  stroke: #fff;
  stroke-width: 360;
  stroke-miterlimit: 10;
}
.jssora051:hover {
  opacity: 0.8;
}
.jssora051.jssora051dn {
  opacity: 0.5;
}
.jssora051.jssora051ds {
  opacity: 0.3;
  pointer-events: none;
}

/* akhir style foto slide */

.jumbotron {
  background-color: bisque;
  width: auto;
  margin-left: auto;
}

.display-4 {
  margin-left: 30px;
}

.lead {
  margin-left: 30px;
}

.jumbotron p {
  margin-left: 30px;
}

.btn-lg {
  margin-left: 30px;
}

.workingspace h5 {
  text-align: center;
  margin-top: 10px;
  color: darkblue;
}

.workingspace img {
  border-radius: 20px;
}

.row {
  margin-top: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.row p {
  color: blue;
  font-weight: bold;
}

.row img {
  border-radius: 15px;
}

.py-5 {
  height: 300px;
  border-radius: 20px;
  margin-top: 30px;
}

.display-5 {
  margin-top: -120px;
}

.mb-4 {
  margin-top: -10px;
}

/* desktop */
@media (min-width: 992px) {
  .navbar-brand {
    font-family: viga;
    margin-left: 20px;
  }
  .navbar {
    text-transform: uppercase;
    background-color: rgba(248, 217, 176, 0.326);
    width: auto;
    margin: auto;
  }
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #0400f7;
    width: 50%;
    margin: auto;
    padding-bottom: 1px;
    margin-bottom: -20px;
    border-radius: 10px;
  }

  .jumbotron {
    background-color: rgba(119, 136, 153, 0.212);
    width: 1200px;
    margin-left: -42px;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0);
    padding: 20px;
    position: relative;
    margin-top: -20px;
  }
}
